<%- include('header') -%>

<h3>
    Details
</h3>
<ul>
    <li>Contract Name : <%= item1 %></li>
    <li>Contract Address : <%= item2 %></li>
    <li>Contract Symbol : <%= item3 %></li>
    <li>Decimal : <%= item4 %></li>
    <li>total supply : <%= item5 %></li>
</ul>

<%-include('footer') -%>